@font-face {
	font-family: "GL-MahjongTile";
	src: url(GL-MahjongTile.ttf);
}

body{
  width: 800px;
  margin: auto auto;
}

.MJFont{
  font-family: "GL-MahjongTile";
  font-size: 40px;
}

.MJFontR{
  color: red;
  font-family: "GL-MahjongTile";
  font-size: 40px;
}

button {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all  0.3s ease;

  position: relative;
  display:  inline-block;
  background-color:  white;
  width: auto;
  margin: 10px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid;
}

button:hover{
  background-color:  black;
  color:white;
}

.red{
  color: red;
}