.idea/*
mjx/cmake-build-debug/*
cmake-build-*/*
build/*
mjx/external_libs/*
docker-build/*
tests/lib/*
**/venv
**/__pycache__
pymjx/.idea
pymjx/mjxproto/*
!pymjx/mjxproto/*.py
pymjx/mjxproto/__pycache__/*
pymjx/build
pymjx/dist
pymjx/mjx.egg-info
pymjx/mjx/__pycache__
pymjx/mjx/tests/__pycache__/
test/resources/*
!test/resources/.gitkeep
*.pb.cc
*.pb.h
dataset/resources/*
**/external/*
mjx-py/.vscode/*
dist
