[submodule "cmake/DownloadProject"]
	path = cmake/DownloadProject
	url = https://github.com/Crascit/DownloadProject.git
[submodule "cmake/openssl-cmake"]
	path = cmake/openssl-cmake
	url = https://github.com/sotetsuk/openssl-cmake.git
