.idea/*
mj/cmake-build-debug/*
cmake-build-*/*
build/*
docker-build/*
test/lib/*
mjconvert/mjconvert/mj_pb2.py
mjconvert/mjconvert/mj_pb2_grpc.py
mjconvert/.idea
mjconvert/venv
mjconvert/__pycache__
mjconvert/resources/*
mjconvert/build
mjconvert/dist
mjconvert/mjconvert.egg-info
!mjconvert/resources/.gitkeep
test/resources/*
!test/resources/.gitkeep
*.pb.cc
*.pb.h
