.idea/*
mjx/cmake-build-debug/*
cmake-build-*/*
build/*
mjx/external_libs/*
docker-build/*
tests/lib/*
mjconvert/mjxproto/*pb2*
mjconvert/mjxproto/__pycache__/*
mjconvert/.idea
**/venv
**/__pycache__
mjconvert/build
mjconvert/dist
mjconvert/mjconvert.egg-info
mjconvert/mjconvert/__pycache__
mjconvert/mjconvert/tests/__pycache__/
test/resources/*
!test/resources/.gitkeep
*.pb.cc
*.pb.h
dataset/resources/*
mjx-py/.vscode/*
