click>=8.0.1
google>=3.0.0
protobuf>=3.17.3
grpcio>=1.39.0
grpcio-tools>=1.39.0
rich>=10.9.0
pillow
gym
pettingzoo
svgwrite
tenhou_wall_reproducer
pytest
black
blackdoc
isort
flake8
mypy
mypy-protobuf
types-protobuf
