click
google
protobuf
grpcio
grpcio-tools
pytest
black
blackdoc
isort
flake8
mypy
mypy-protobuf==1.24  # TODO: update version
tenhou_wall_reproducer
types-protobuf
rich 
gym
pillow
pettingzoo
svgwrite
inquirer
